<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- 	<link rel="stylesheet" type="text/css" href="index.css"> -->
	<!-- <script type="text/javascript" src="rules.js"></script> -->
	<style type="text/css">
		table {
			border-collapse: collapse;
		}

		.grid td {
			border: 1px solid blue;
			padding: 15px;
			margin: 0;
		}

		.snake {
			background-color: black;
		}

		.snake.head {
			background-color: red;
		}

		.apple {
			background-color: green;
		}

		.endPopup {
			position: absolute;
			width: 100px;
			height: 50px;
			font-size: 20px;
		}
	</style>
</head>
<body>
	<table class="grid">

	</table>
</body>


<script type='module'>
	// const gridDomManager = new GridDomManager(1,2,3);
	import GameManager from './rules.js';
	const gameManager = new GameManager(10, 20, document.querySelector('.grid'));
	gameManager.startGame();		

</script>
</html>